upload/
-blog/
*.log
*.xml
*.csv
*.txt
bitrix/cache/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/php_interface/dbconn.php
bitrix/modules/updater.log
bitrix/modules/serverfileerrorlog.dat
bitrix/wizards/
bitrix/backup/
bitrix/.settings
.idea/
test/index.php
*-bak
*-bak*
bitrix/php_interface/UserClass/workWithDB.php
.htaccess
