.bx-breadcrumb {
	margin: 30px 0;

}

.bx-breadcrumb .icon_slash{
	display: block;
	float: left;
	margin: 0 7px;
	font-size: 16px;
	color: #02578e;

}
.bx-breadcrumb i {
	color: #02578e;
	line-height: 13px;
	font-size: 12px;
	vertical-align: middle;
	margin-right: 5px;
	float: left;
}
.bx-breadcrumb .bx-breadcrumb-item {
	display: inline-block;
	/*margin-bottom: 10px;*/
	white-space: nowrap;
	line-height: 13px;
	vertical-align: middle;
	margin: 0 10px;
}
.bx-breadcrumb .bx-breadcrumb-item:first-of-type{
	margin-left: 0;
}
.bx-breadcrumb .bx-breadcrumb-item span{

	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #02578e;
}
.bx-breadcrumb .bx-breadcrumb-item a {
	border-bottom: none;
	color: #02578e;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
}

.product-breadcrumbs-list .bx-breadcrumb .bx-breadcrumb-item a span,
.product-breadcrumbs-list .bx-breadcrumb .bx-breadcrumb-item span {
	text-transform: uppercase;
	color: #ed1c24;
	text-align: center;
	font-size: 12px;
	margin-bottom: 4px;
}

.product-breadcrumbs-list .bx-breadcrumb .bx-breadcrumb-item span.active,
.product-breadcrumbs-list .bx-breadcrumb .bx-breadcrumb-item span.icon_slash {
	color: #02578E;
}

.product-breadcrumbs-list .bx-breadcrumb .bx-breadcrumb-item {
	display: inline-flex;
	margin: 0;
}

.product-breadcrumbs-list .bx-breadcrumb {
	vertical-align: baseline;
	margin-bottom: 0;
	margin-top: 20px;
}

.product-breadcrumbs-list {
	border-bottom: 2px solid #ed1c24;
	margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
	.bx-breadcrumb{

	}
	.bx-breadcrumb .bx-breadcrumb-item {
		display: block;
		white-space: normal;
		margin: 7px 0px;
	}

	.product-breadcrumbs-list .bx-breadcrumb .bx-breadcrumb-item {
		padding-top: 8px;
	}
	.bx-breadcrumb .bx-breadcrumb-item:first-of-type{
	}
	/*.bx-breadcrumb .bx-breadcrumb-item span{*/
		/*display: none;*/
	/*}*/
}
