/* catalog.section */
.bx_blue.bx-section-desc{
	border-left-color:#0083d1;
}
.bx_catalog_list_home.bx_blue .bx_bt_button  				{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    position: relative;
    height: 25px;
    padding: 1px 10px;
    line-height: 25px;
    margin: -10px 0 0 35px;
    background: #ed1c24;
	background: -moz-linear-gradient(top,  #ed1c24 0%, #a00000 100%, #a00000 100%);
	background: -webkit-linear-gradient(top,  #ed1c24 0%,#a00000 100%,#a00000 100%);
	background: linear-gradient(to bottom,  #ed1c24 0%,#a00000 100%,#a00000 100%);
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-top-right: 5px;
    -moz-border-radius-bottom-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px red, 0px 5px 0px 0px #4C0000, 0px 10px 5px #999;
    -moz-box-shadow: 	inset 0px 1px 0px red, 0px 5px 0px 0px #4C0000, 0px 10px 5px #999;
    -o-box-shadow: 		inset 0px 1px 0px red, 0px 5px 0px 0px #4C0000, 0px 10px 5px #999;
    box-shadow: 		inset 0px 1px 0px red, 0px 5px 0px 0px #4C0000, 0px 10px 5px #999;
    border: 0;
}
.bx_catalog_list_home.bx_blue .bx_bt_button:hover{
	cursor: pointer;
}
.bx_catalog_list_home.bx_blue .bx_bt_button:active{
	top: 3px;
  	background: #a00000;
	background: -moz-linear-gradient(top,  #a00000 0%, #ed1c24 100%);
	background: -webkit-linear-gradient(top,  #a00000 0%,#ed1c24 100%);
	background: linear-gradient(to bottom,  #a00000 0%,#ed1c24 100%);
    -webkit-box-shadow: inset 0px 1px 0px red, 0px 2px 0px 0px #4C0000, 0px 5px 3px #999;
    -moz-box-shadow: 	inset 0px 1px 0px red, 0px 2px 0px 0px #4C0000, 0px 5px 3px #999;
    -o-box-shadow: 		inset 0px 1px 0px red, 0px 2px 0px 0px #4C0000, 0px 5px 3px #999;
    box-shadow: 		inset 0px 1px 0px red, 0px 2px 0px 0px #4C0000, 0px 5px 3px #999;
}
.bx_catalog_list_home.bx_blue .bx_bt_button:before{
	content: '';
    display: block;
    position: absolute;
    left: -33px;
    top: 0;
    width: 33px;
    height: 25px;
    background: #ed1c24;
	background: -moz-linear-gradient(top,  #ed1c24 0%, #a00000 100%, #a00000 100%);
	background: -webkit-linear-gradient(top,  #ed1c24 0%,#a00000 100%,#a00000 100%);
	background: linear-gradient(to bottom,  #ed1c24 0%,#a00000 100%,#a00000 100%);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
 	-moz-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px red, 0px 5px 0px 0px #4C0000, 0px 10px 5px #999;
    -moz-box-shadow: 	inset 0px 1px 0px red, 0px 5px 0px 0px #4C0000, 0px 10px 5px #999;
    -o-box-shadow: 		inset 0px 1px 0px red, 0px 5px 0px 0px #4C0000, 0px 10px 5px #999;
    box-shadow: 		inset 0px 1px 0px red, 0px 5px 0px 0px #4C0000, 0px 10px 5px #999;
    border-right: solid 1px #000;
}
.bx_catalog_list_home.bx_blue .bx_bt_button:active:before{
	top:-3px;
 	 -webkit-box-shadow:0px 5px 0px 0px #4C0000, 0px 7px 5px #999;
     -moz-box-shadow: 	0px 5px 0px 0px #4C0000, 0px 7px 5px #999;
     -o-box-shadow: 	0px 5px 0px 0px #4C0000, 0px 7px 5px #999;
     box-shadow: 		0px 5px 0px 0px #4C0000, 0px 7px 5px #999;
}
.bx_catalog_list_home.bx_blue .bx_bt_button:after{
	content: '';
    display: block;
    position: absolute;
    left: -28px;
    top: 6px;
    width: 19px;
    height: 14px;
    background: url('/bitrix/templates/eshop_adapt_MC/images/smallbassket.png') no-repeat;
}
.bx_catalog_list_home.bx_blue .bx_bt_button:active:after{top: 3px;}
.bx_catalog_list_home.bx_blue .bx_bt_button:focus{outline: none; color: #fff;}
    
    
 
/*
.bx_catalog_list_home.bx_blue .bx_bt_button:hover  		{
	
}
.bx_catalog_list_home.bx_blue .bx_bt_button:active  		{
	background:#0052bf;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTJiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg1ZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0052bf),color-stop(100%,#0085d3));
	background:-webkit-linear-gradient(top,#0052bf 0%,#0085d3 100%);
	background:   -moz-linear-gradient(top,#0052bf 0%,#0085d3 100%);
	background:    -ms-linear-gradient(top,#0052bf 0%,#0085d3 100%);
	background:     -o-linear-gradient(top,#0052bf 0%,#0085d3 100%);
	background:linear-gradient(to bottom,#0052bf 0%,#0085d3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0052bf',endColorstr='#0085d3',GradientType=0 );
}
*/
/* scu_detail_size */
.bx-retina .bx_catalog_list_home.bx_blue .bx_item_detail_size ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}
/* scu_detail_scu */
.bx-retina .bx_catalog_list_home.bx_blue .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
	-webkit-border-image: url(images/x2border_active.png) 2 stretch;
	-moz-border-image: url(images/x2border_active.png) 2 stretch;
	-o-border-image: url(images/x2border_active.png) 2 stretch;
	border-image: url(images/x2border_active.png) 2 fill stretch;
}